@import url("//cdn.web-fonts.ge/fonts/bpg-algeti/css/bpg-algeti.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 overflow: auto;
 
 
}



body {

 
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;
  font-family: "BPG Algeti", sans-serif;
 
 


}

nav a {
  position: relative;

}

nav a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: -10px;
  transition: width 0.6s cubic-bezier(0.23, 1, 0.320, 1);

}


nav a:hover::after {
  width: 100%;
}


.line {
  position: relative;
}

.line::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: -10px;
  transition: width 0.6s cubic-bezier(0.23, 1, 0.320, 1);

}

.line:hover::after {
  width: 100%;
}